.jumbotron {
  text-align: center;
  background-color: #A569BD;
}

.well{
  text-align: center;
}

#show {
  width: 100%;
}

#random {
  width: 100%;
}

 #container-two {
   background-color: #3498DB;
   padding-top: 20px;
   padding-bottom: 20px;
 }

 #container-three {
   background-color: #82E0AA;
   padding-top: 20px;
   padding-bottom: 20px;
 }

 #container-four {
   /*display: hide;*/
   background-color: #E83E8C;
   padding-top: 20px;
   padding-bottom: 20px;
 }

/*#lyrics, #song-results {
  display: hide;
}*/

 #result-heading {
   text-decoration: underline;
 }

 #try-again {
   width: 100%;
   display: none;
 }

#lyrics {
  display: none;
}

body {
  background-color: #757575;
}

.form-questions {
  display: none;
}
